@import '@fusuma/client/assets/style/themes/webpack.css';
@import "@fortawesome/fontawesome-free/css/all.css";

.img,
.space {
    margin: 5%;
    max-width: 60%;
}

.little-space {
    margin: 1%;
}

.double-img {
    max-width: 50%;
}

.icon {
    font-size: 2em;
}

h1,
h2 {
    margin-bottom: 30px;
}